.fa-stack-1x+.fa-stack-1x {
	font-size: smaller;
	color: white;
	font-weight: bolder;
}
.catalog-status {
	line-height: 14px;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.catalog-import .dropdown-toggle {
	padding: 0;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 1em;
    margin-top: 4px;
    margin-left: -5px;
	margin-right: 4px;
}

img.flag-icon.prov-location-flag {
    margin-top: -3px;
    margin-left: 1px;
    display: inline;
}