.prov-slider {
  width: 250px;
  position: relative;
  height: 0;
  overflow: visible;
}
.prov-slider-selector {
  height: 0;
  position: absolute;
  top: 11px;
  right: 74px;
}

.prov-slider-selector .dropdown-menu p {
  margin: 0;
}

.prov-slider-selector .dropdown-menu {
  min-width: 200px;
  margin-top: 16px;
}

.prov-slider-selector .dropdown-menu p .menu-right {
  position: absolute;
  top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  margin-right: 8px;
  margin-left: 8px;
  padding-left: 8px;
}
.prov-slider-selector .dropdown-menu p a.menu-right {
  right: 0;
}
.prov-slider-selector .dropdown-menu li a:active + p,
.prov-slider-selector .dropdown-menu li a:focus + p,
.prov-slider-selector .dropdown-menu li a:hover + p {
  color: #fff;
}
.prov-slider-selector .dropdown-menu p .menu-label.menu-right {
  right: 30px;
  pointer-events: none;
  font-size: smaller;
  top: 2px;
}

.prov-slider-selector > .btn.btn-default.dropdown-toggle {
  padding: 0;
  font-size: xx-small;
  position: relative;
  margin-top: 16px;
  color: #bdbdbd;
  margin-right: -10px;
}

.prov-slider-selector li.has-value p .add,
.prov-slider-selector li:not(.has-value) p .delete {
  display: none;
}

.prov-slider .progress-bar:nth-child(1) {
  width: 100%;
  background-color: #efefef;
  transition: none;
}

.prov-slider .progress-bar:nth-child(2) {
  background-color: #22b6ff;
}
.prov-slider .progress-bar:nth-child(3) {
  background-color: #2278ff;
}
.prov-slider .progress-bar:nth-child(4) {
  background-color: #ff5722;
}
.with-slider.input-group {
  width: 100%;
}

.prov-slider .progress-bar {
  position: absolute;
  overflow: visible;
  height: 25px;
  margin-top: 3px;
}

.prov-slider .progress-bar .ui-resizable-e {
  right: -4px;
  cursor: ew-resize;
  height: 30px;
}
.prov-slider .progress-bar span.end {
  float: right;
  margin-right: -4px;
  color: #0000005e;
  bottom: -18px;
  position: relative;
}
.prov-slider .progress-bar span.end:hover {
  cursor: pointer;
  color: #000000;
}
