@import url("font-mfizz.css");
@import url("odometer-theme-minimal.css");
.masonry-container .node.service-prov.mode-th-list table.subscriptions th.features {
	width: 110px;
}

.masonry-container .node.service-prov.mode-th-large table.subscriptions th.features {
	width: 96px;
}

.masonry-container .node.service-prov table.subscriptions th.features {
	width: 85px;
}

.masonry-container .node.service-prov.mode-th td.key {
	font-size: x-small;
}

.masonry-container .node.service-prov .price {
	max-width: 53px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: -6px;
}

#prov-dashboard {
	position: relative;
	width: 0;
	height: 0;
	top: -20px;
}

#prov-dashboard .svg-wrapper {
	position: absolute;
	z-index: 1030;
}

#popup-prov-instance-import code {
	font-size: 75%;
}

.nav-dashboard .prov-cost-wrapper {
	font-size: 48px;
	text-align: right;
	margin-top: 0;
}
#prov-gauge {
	width: 180px;
	height: 180px;
}

.gauge-wrapper {
	top: -9px;
	height: 0;
	position: relative;
	left: 200px;
}

#prov-sunburst path {
	stroke: #fff;
	fill-rule: evenodd;
}

#prov-sunburst {
	width: 200px;
	height: 0;
	top: -18px;
	position: relative;
}

.sunburst-part:hover {
	filter: url(#sunburst-filter);
}
.slice {
	filter: url(#arc-filter);
}
#subscribe-configuration-prov .instance {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
	cursor: help;
}

.prov-project {
	position: relative;
	margin-top: 0;
}
.cost-unit {
	font-weight: bolder;
}
.cost-value {
	top: -3px;
}

#subscribe-configuration-prov .form-actions .dropdown {
	display: inline;
}

#subscribe-configuration-prov .cost-refresh {
	font-size: 10px;
	margin: 0;
	padding: 15px 0 0 0;
}

#instance-max-quantity+.checkbox.disabled, #instance-max-quantity+.checkbox.disabled * {
	pointer-events: bounding-box;
}
#prov-defaults {
	width: 100%;
}
@media (min-width: 768px) {
	#prov-storages thead>tr>th:nth-child(4), #prov-storages thead>tr>th:nth-child(5) {
		width: 80px;
	}
	#prov-instances thead>tr>th:nth-child(10),#prov-storages thead>tr>th:nth-child(8) {
		width: 64px;
	}
	#prov-instances thead>tr>th:nth-child(2), #prov-storages thead>tr>th:nth-child(2) {
		width: 24px;
	}
}

@media (min-width: 1200px) {
	#prov-instances thead>tr>th:nth-child(6) {
		width: 120px;
	}
	#prov-instances thead>tr>th:nth-child(7), #prov-storages thead>tr>th:nth-child(6) {
		width: 50px;
	}
	#prov-defaults {
		width: 350px;
	}
}
label[for="instance-max-variable-cost"] {
	margin-top: 10px;
}
.price-term {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.summary .badge>i+span {
	margin-left: 1px;
}

.slice path {
	stroke: #fff;
	stroke-width: 1px;
}

.d3-tooltip {
	z-index: 1031;
	visibility: hidden;
}

.d3-text {
	pointer-events: none;
}

.d3-donut path.color0 {
	fill: #354499;
}
.d3-donut {
	position: absolute;
}
.d3-donut>svg {
	position: relative;
	right: -139px;
	top: -20px;
}
.d3-donut path.color1 {
	fill: rgba(255,255,255,.3);
}
.d3-donut text {
	font-size: 3em;
	font-weight: 400;
	line-height: 16em;
	fill: #354499;
}

.prov-location-api {
	white-space: nowrap;
	float: right;
}

.masonry-container .prov-location-api {
	font-size: x-small;
	position: absolute;
	right: -8px;
	top: -9px;
}
.select2-chosen .prov-location-api, .select2-result .prov-location-api {
	float: right;
	font-size: x-small;
	position: absolute;
	margin-top: -10px;
	margin-right: 5px;
	right: 0;
}

#prov-defaults label>i { 
	vertical-align: top;
}

.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1em;
	line-height: 1em;
	margin-top: 4px;
	margin-left: -5px;
	margin-right: 4px;
}
.flag-icon:before {
	content: "\00a0";
}
img.flag-icon.prov-location-flag {
	margin-top: -3px;
	margin-left: 1px;
	display: inline;
}
.popover, .tooltip-inner {
	line-height: 1.2em;
}
.select2-addon {
	position: relative;
	top: 9px;
	right: 3px;
}
.select2-addon .btn {
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	top: -8px;
	left: -6px;
}

#prov-terraform-status .progress {
	height: 20px;
}
.progress .progress-bar.error {
	background-color: #e25757;
}

.prov-global-summary {
	margin-right: 16px;
}

#prov-terraform-status .status-apply.active {
	text-align: right;
}